.mainPageContainer {
  max-width: 1440px;
  padding: 38.67px;
  margin-left: auto;
  margin-right: auto;
}

.heroImg {
  display: block;
  /* margin-left: auto; */
  /* margin-right: auto; */
  background-position: center top;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media screen and (max-width: 360px) {
    background-image: url(../../images/mobileFrame.png);
    width: 280px;
    height: 208px;
  }
  @media screen and (min-width: 361px) {
    background-image: url(../../images/tabletFrame.png);
    width: 518px;
    height: 386px;
  }
  @media screen and (min-width: 768px) {
    background-image: url(../../images/desctopFrame.png);
    width: 738px;
    height: 548px;
  }
}
