.mainPageContainer {
}

.heroImg {
  display: none;

  @media screen and (max-width: 360px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../../images/Frame.png);

    background-position: center top;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 280px;
    height: 208px;
  }
}
