:root {
    --primery-color-black: #2F2F2F;
    --primery-color-blue: #407BFF;
    --primery-color-white: #FFFFFF;
    --secondary-color-2: #ECF2FF;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 40px;

    @media screen and (min-width: 768px) {
        gap: 60px;
    }

    @media screen and (min-width: 1440px) {
        flex-direction: row;
        gap: 81px;
    }
}

.wrap_benefits {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 24px; */
}

.wrap_reasons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 16px;
    border-radius: 10px;
    background: var(--secondary-color-2);
    box-shadow: 0px 4px 14px 0px rgba(64, 123, 255, 0.30);
    width: 280px;
    /* height: 416px; */

    @media screen and (min-width: 768px) {
        padding: 32px 24px;
        width: 494px;
        /* height: 332px; */
    }
}

.title {
    color: var(--primery-color-black);
    font-size: 28px;
    line-height: 32px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
        font-size: 36px;
        line-height: 42px;
    }
}

.subtitle {
    color: var(--primery-color-black);
    font-size: 24px;
    line-height: 30px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
        font-size: 26px;
        line-height: 32px;
    }
}

.list_title {
    color: var(--primery-color-black);
    font-size: 18px;
    line-height: 20px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 12px;
}

.list_benefits {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
        
    @media screen and (min-width: 768px) and (max-width: 1439px) {
        flex-direction: row;
    }
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.item {
    color: var(--primery-color-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* white-space: nowrap; */
}

.btn {
    display: flex;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--primery-color-blue);
    box-shadow: 0px 4px 8px 0px rgba(64, 123, 255, 0.34);
    border-color: transparent;
    border-radius: 10px;

    /* font-family: inherit; */
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: var(--primery-color-white);
    cursor: pointer;
    /* margin: 0 auto; */
    box-sizing: border-box;

        margin-top: 24px;
}