.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 94px;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  height: 48px;
}
@media screen and (min-width: 768px) {
  .headerContainer {
    gap: 512px;
  }
}

@media screen and (min-width: 1440px) {
  .headerContainer {
    padding: 12px 112px 49px 112px;
  }
}

/* logo */
.logo {
  width: 102px;
  height: 48px;
}

.logo_btn {
  background-color: transparent;
  border: none;
}

/* sign in */
.signIn_btn {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 10px;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 1440px) {
  .signIn_btn {
    gap: 8px;
  }
}

.signInText {
  color: #407bff;
  font-size: 16px;
  line-height: calc(20 / 16);
}
@media screen and (min-width: 768px) {
  .signInText {
    font-size: 18px;
    line-height: calc(24 / 18);
  }
}
.signInText:hover {
  color: #ff9d43;
}

.round_icon {
  border-radius: 50%;
  border-color: black;
  fill: black;
}
