.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 94px; */
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
 height: 48px;
    
}



@media screen and (min-width: 1440px) {
    .headerContainer {
        /* gap: 1024px; */
        padding: 12px 112px 49px 112px;
    }
}

