/* @import '~node_modules/modern-normalize/modern-normalize.css'; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* @font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Bold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Medium.ttf") format("ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
} */

body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --main-cl: #ffffff;
  --black-cl: #2f2f2f;
  --blue-main: #407bff;

  --hover-orange: #ff9d43;
  --border-red: #ef5050;
  --hover-blue: #9ebbff;
  --bcg-blue: #d7e3ff;
  --light-blue: #ecf2ff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  outline: 1px solid tomato;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
