.mainPageContainer {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url('../../../images/bubblesMob.png');
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .mainPageContainer {
    width: 704px;
    padding: 0px 32px;
    margin: 0px auto;
    background-image: url('../../../images/bubblesTab.png');
    background-position: bottom -100% left 100%;
  }
}

@media screen and (min-width: 1440px) {
  .mainPageContainer {
    width: 1216px;
    padding: 0px 32px;
    background-image: url('../../../images/bubblesDesc.png');
    background-position: center top 50%;
  }
}

.mainPageWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .mainPageWrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .mainPageWrapper {
    flex-direction: row;
    gap: 32px px;
  }
}

.firstPart {
  position: relative;
  padding-top: 40px;
  width: 100%;
}

@media screen and (min-width: 1440px) {
  .firstPart {
    width: 50%;
  }
}

.mainPageCalendar {
  border-radius: 10px;
  background-color: rgb(236, 242, 255);
  box-shadow: rgba(64, 123, 255, 0.3) 0px 4px 14px;
  display: flex;
  padding: 24px 8px;
  flex-direction: column;
  gap: 24px;
  width: 280px;
  margin: 0px auto;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .mainPageCalendar {
    width: 704px;
    padding: 32px 24px;
  }
}

@media screen and (min-width: 1440px) {
  .mainPageCalendar {
    width: 55%;
    padding: 32px 24px;
  }
}

.todayProgress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .todayProgress {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1440px) {
  .todayProgress {
    display: flex;
    flex-direction: row;
    gap: 43px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 50px;
  }
}

.progress {
  display: flex;
  flex-direction: column;
  gap: 19px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .progress {
    display: flex;
    flex-direction: column;
    gap: 19px;
    width: 356px;
  }
}

@media screen and (min-width: 1440px) {
  .progress {
    display: flex;
    flex-direction: column;
    gap: 19px;
    width: 391px;
  }
}

.heroImg {
  display: block;
  background-position: center top;
  background-image: url(../../../images/desctopFrame.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

.btnAddWater {
  width: 100%;
  display: inline-flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: none;
  background: #407bff;
  box-shadow: 0px 4px 8px 0px rgba(64, 123, 255, 0.34);
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .btnAddWater {
    width: 336px;
  }
}

@media screen and (min-width: 1440px) {
  .btnAddWater {
    width: 178px;
  }
}

.add_water_title {
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
}

.icon {
  /* display: inline-block; */
  fill: #fff;
  width: 24px;
  height: 24px;
}

.dailyNormaContainer {
  border-radius: 10px;
  border: 1px solid rgb(236, 242, 255);
  background: rgb(255, 255, 255);
  box-shadow: rgba(158, 187, 255, 0.12) 0px 4px 8px 0px;
  width: 164px;
  padding: 8px 20px;
  margin-bottom: 8px;
}

@media screen and (min-width: 1440px) {
  .dailyNormaContainer {
    position: absolute;
    top: 40px;
    left: 0px;
  }
}

div {
  display: block;
}

.imageBackground {
  background-image: url(../../../images/BgBottleMob.png);
  width: 280px;
  height: 208px;
  flex-shrink: 0;
}

@media screen and (min-width: 768px) {
  .imageBackground {
    background-image: url(../../../images/BgBottleTab.png);
  }
}

@media screen and (min-width: 1440px) {
  .imageBackground {
    background-image: url(../../../images/BgBottleDesk.png);
  }
}

.dailyTitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  margin-bottom: 12px;
  white-space: nowrap;
}

.normaContainer {
  display: flex;
  gap: 12px;
  align-items: center;
}

.norma {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  color: #407bff;
}

.normaBtn {
  font-size: 16px;
  line-height: calc(20 / 16);
  background-color: transparent;
  color: #8baeff;
  border: none;
}

.waterScale {
  position: relative;
  width: calc(100% - 30px);
  height: 8px;
  background-color: #9ebbff;
  border-radius: 10px;
  margin: 0 auto;
}

.todayTitle {
  color: #407bff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.progressContainer {
  width: 256px;
}

.progress {
  display: block;
  position: relative;
  height: 82px;
}

progress {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  height: 8px;
}

progress::-webkit-progress-bar {
  background-color: #d7e3ff;
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background-color: #9ebbff;
  border-radius: 5px 0 0 5px;
}

.markerContainer {
  position: relative;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.circularIndicator {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #407bff;
  transform: translate(-50%, 50%);
}

.marker {
  position: absolute;
  width: 1px;
  height: 8px;
  background-color: rgba(215, 227, 255, 1);
  top: 0;
  transform: translateX(-50%);
}

.marker span {
  color: #407bff;
  font-size: 12px;
  position: absolute;
  top: calc(100% + 4px);
  left: 50%;
  transform: translateX(-50%);
}

.marker .centralSpan {
  font-size: 16px;
}

.persentProgress {
  font-size: 16px;
  color: rgba(64, 123, 255, 1);
}

@media screen and (min-width: 768px) {
  .progressContainer {
    width: 356px;
  }
}

@media screen and (min-width: 1440px) {
  .progressContainer {
    width: 391px;
  }
}
