.modalDiv {
  position: absolute;
  top: 18%;
  left: 32%;
  background-color: rgba(255, 255, 255, 1);
}
.hystmodal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center; /* см. ниже */
  align-items: center;
  z-index: 99;
  /* Чтобы окно не прилипало к границе
    браузера установим отступы */
  padding: 30px 0;
  background-color: rgba(0, 0, 0, 0.8);
}
