* {
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0;
  padding: 0;
}
div {
  margin: 0;
  padding: 0px;
}
img {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 1280px) {
  .all_inp_cont {
    display: flex;
    align-items: center;

    gap: 24px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: gray;
  overflow: auto;
}
.modal {
  max-width: 100%;
  padding: 32px 12px;
  z-index: 100;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: white;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .modal {
    padding: 32px 24px;
    width: 704px;
  }
}
@media screen and (min-width: 1280px) {
  .modal {
    padding: 32px 24px;
    width: 1008px;
  }
}

.image_modal {
  width: 100%;
  height: 100%;
  border-radius: 80px;
  object-position: center;
  object-fit: cover;
}
.modal_setting {
  color: rgba(47, 47, 47, 1);
  font-size: 26px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 24px;
  display: block;
}
.modal_photo_text {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 8px;
}
.modal_photo_list {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}
.modal_list_upload_input {
  display: none;
}
.modal_list_upload {
  cursor: pointer;
}
.upload_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.uploadText {
  color: rgba(64, 123, 255, 1);
  cursor: pointer;
  font-size: 14px;

  font-weight: 500;
  line-height: 18px; /* 128.571% */
  font-size: 14px;
}
.uploadIcon {
  cursor: pointer;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  display: block;
}
.photo_div {
  border-radius: 80px;
  width: 80px;
  height: 80px;

  margin-right: 8px;
}
.modal_gender_text {
  font-size: 18px;

  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}
.gender_input {
  position: relative;
  height: 14px;
  width: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
.gender_input::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid dodgerblue;
}
.gender_input:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: dodgerblue;
  transform: translate(-53%, -54%);
  visibility: visible;
}

.modal_gender_block {
  margin-bottom: 12px;
}
@media screen and (min-width: 1280px) {
  .modal_gender_block {
    margin-bottom: 52px;
  }
}
.gender_label {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-left: 8px;
}
.gender_label:first-of-type {
  margin-right: 24px;
}
.modal_input {
  width: 256px;

  padding: 12px 10px;
  display: block;
  border-radius: 6px;
  border: 1px solid #d7e3ff;
}
.inputError {
  color: #ef5050;
  border-color: #ef5050;
}
.error {
  font-size: 14px;
  color: #ef5050;
  padding-bottom: 4px;
}
.inputContainer {
  width: 256px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .modal_input {
    width: 392px;
  }
  .inputContainer {
    width: 392px;
  }
}
.modal_input_data {
  margin-bottom: 24px;
}
.modal_password_text {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}
.modal_input_password {
  margin-bottom: 12px;
}

.password_label {
  margin-bottom: 8px;
  display: block;
}
.dataLabel {
  display: block;
  margin-bottom: 8px;
}
.modal_form_submit {
  color: white;
  font-weight: 500;
  line-height: 20px;
  font-size: 16px;
  border: none;
  display: block;
  margin: 0 auto;
  width: 256px;
  height: 38px;
  padding: 8px 30px;
  border-radius: 10px;
  background: rgba(64, 123, 255, 1);
  box-shadow: 0px 4px 8px 0px rgba(64, 123, 255, 0.34);
}

@media screen and (min-width: 768px) {
  .modal_form_submit {
    width: 160px;
    height: 44px;
    font-size: 18px;

    line-height: 24px;
    padding: 10px 30px;
    margin: 0;
    margin-left: auto;
    text-align: center;
  }
}

.togglePasswordIcon {
  position: absolute;
  top: 58%;
  right: 10px; /* Располагаем иконку справа */
  transform: translateY(-50%);
  cursor: pointer;
}
.passwordInputContainer:last-of-type {
  margin-bottom: 24px;
}
.passwordInputContainer {
  position: relative;
}

.closeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  position: absolute;
  top: 38px;
  right: 12px;
  cursor: pointer;
}

.closeBtn svg {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .closeBtn {
    right: 24px;
  }
}
