


/* @font-face {
  font-family: "Roboto";
  src: url("../src/fonts/Roboto-Bold.ttf");
  src: url("../src/fonts/Roboto-Medium.ttf");
  src: url("../src/fonts/Roboto-Regular.ttf ");
} */


/* @font-face {
  font-family: "Roboto";
  src: url("../src/fonts/Roboto-Regular.ttf") format("ttf");
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */