@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* @font-face {
  font-family: "Roboto";
  src: url("../src/fonts/Roboto-Bold.ttf");
  src: url("../src/fonts/Roboto-Medium.ttf");
  src: url("../src/fonts/Roboto-Regular.ttf ");
} */


/* @font-face {
  font-family: "Roboto";
  src: url("../src/fonts/Roboto-Regular.ttf") format("ttf");
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */