.listContainer {
  height: 33vh;
  overflow-y: auto;
}
.itemWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
  padding-top: 12px;
  border-bottom: 1px solid #d7e3ff;
}

.portionInfo {
  display: flex;
  align-items: center;
}
.btnsWrap {
  display: flex;
  align-items: center;
  gap: 18px;
}
.icon {
  display: block;
  margin-right: 12px;
}

.portion {
  color: #407bff;
  font-size: 18px;
  line-height: 1.33;

  margin-right: 12px;
}

.time {
  color: #2f2f2f;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
}

.editBtn {
  width: 16px;
  height: 16px;
}
.delBtn {
  width: 16px;
  height: 16px;
}
