.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: gray;
  overflow: auto;
  z-index: 100;
}

.addWaterDiv {
  position: relative;
  top: 50%;
  left: 50%;
  width: 280px;
  height: 648px;
  padding: 24px 12px;
  font-size: 26px;
  line-height: calc(32 / 26);
  color: #2f2f2f;
  background-color: #ffffff;
  border: 1px solid #000;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  transform: translate(-50%, -50%);
}

.addWaterCloseDiv {
  position: relative;
  display: block;
  justify-content: space-between;
  align-items: flex-start;
}
.addWaterSubtitle {
  color: #2f2f2f;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: calc(20 / 18);
}
.addWaterTitle {
  padding-bottom: 24px;
  font-style: normal;
  font-size: 26px;
  font-weight: 500;
  color: #2f2f2f;
  line-height: calc(32 / 26);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.addWaterBtnClose {
  fill: #407bff;
  background-color: transparent;
  border: none;
  transition: fill 250ms ease-out;
  cursor: pointer;
}

.addWaterBtnClose:hover {
  fill: #ff9d43;
}

.addWaterFormTitle {
  color: #2f2f2f;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding-bottom: 16px;
}

.addWaterAmount {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 200;
  line-height: calc(16 / 20);
  color: #2f2f2f;
}

.addWaterCounters {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
  padding-bottom: 24px;
  color: #407bff;
}

.addWaterInput {
  padding: 12px 10px;
  margin-bottom: 24px;
  width: 100%;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: #407bff;
  border: 1px solid #d7e3ff;
  border-radius: 6px;
  box-sizing: border-box;
}

.addWaterInput:focus {
  outline: none;
}

.addWaterInput::placeholder {
  color: #407bff;
}

.addWaterLabel {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: calc(20 / 16);
  color: #2f2f2f;
}

.addWaterLabel2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 18px;
  font-weight: 500;
  line-height: calc(20 / 16);
  color: #2f2f2f;
}

.addWaterBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: #407bff;
  border: 1px solid #9ebbff;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(64, 123, 255, 0.2);
  transition: fill 250ms ease-out, border-color 250ms ease-out;
  cursor: pointer;
}

.addWaterBtn:hover {
  fill: #ff9d43;
  border-color: #ff9d43;
}

.addWaterCounter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92px;
  height: 36px;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: #407bff;
  background-color: #d7e3ff;
  border-radius: 40px;
}

.addWaterSvgPlus {
  transform: rotateZ(45deg);
  transition: fill 250ms ease-out;
}

.addWaterSvgPlus:hover {
  fill: #ff9d43;
}

.addWaterBtnSave {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 256px;
  height: 36px;
  padding: 8px 30px;
  font-size: 18px;
  line-height: calc(24 / 18);
  background-color: #407bff;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  transition: box-shadow 250ms ease-out;
}

.addWaterBtnSave:hover {
  box-shadow: 0px 4px 8px 0px rgba(64, 123, 255, 0.34);
}

.addWaterCounterSave {
  color: #407bff;
  font-size: 18px;
}

.addWaterBlockSave {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
@media screen and (max-width: 767px) {
  .addWaterDiv {
    width: 280px;
    height: 648px;
  }
}
@media screen and (min-width: 768px) {
  .addWaterDiv {
    width: 704px;
    height: 580px;
    padding: 24px 32px;
  }

  .addWaterBtnSave {
    width: 160px;
    height: 44px;
    padding: 8px 30px;
  }

  .addWaterBlockSave {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 34px;
  }

  @media screen and (min-width: 1440px) {
    .addWaterDiv {
      display: block;
      width: 592px;
      height: 580px;
    }
  }
}