.todayList {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 24px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 14px 0px rgba(64, 123, 255, 0.3);
  background-color: rgba(64, 123, 255, 0.3);
}

.todayCalendar {
}
@media screen and (max-width: 320px) {
  .todayList {
    width: 280px;
    height: 258px;
  }
}
@media screen and (min-width: 321px) {
  .todayList {
    width: 280px;
    height: 258px;
  }
}
@media screen and (min-width: 768px) {
  .todayList {
    width: 704px;
    height: 260px;
  }
}
@media screen and (min-width: 1216px) {
  .heroImg {
    width: 738px;
    height: 548px;
  }
  .mainPageCalendar {
    position: absolute;
    top: 38.67px;
    right: 0;
  }
}
