.todayList {
  width: 258px;
  height: 258px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}
.todayTitle {
  margin-bottom: 16px;
}

.btn {
  color: #407bff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  border: none;
  background-color: transparent;
  margin-top: 12px;
}

.todayCalendar {
}

@media screen and (min-width: 768px) {
  .todayList {
    width: 704px;
    height: 260px;
  }
}
@media screen and (min-width: 1216px) {
  .todayList {
    margin-right: 0;
  }
}
