.todayList {}

.todayTitle {
  margin-bottom: 16px;
}

.btn {
  margin-top: 30px;
  color: #407bff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  background-color: transparent;
  border: none;

}

.todayCalendar {}

.todayList {
  width: fit-content;
}

@media screen and (min-width: 768px) {
  .todayList {
    width: fit-content;
  }
}

@media screen and (min-width: 1440px) {
  .todayList {
    /* width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0px; */
  }
}