.todayList {
  padding: 24px, 8px, 24px, 8px;

  margin-left: auto;
  margin-right: auto;
  gap: 24px;
}

.todayCalendar {
}
@media screen and (max-width: 320px) {
  .todayList {
    width: 264px;
    height: 258px;
  }
}
@media screen and (min-width: 321px) {
  .todayList {
    width: 264px;
    height: 258px;
  }
}
@media screen and (min-width: 768px) {
  .todayList {
  }
}
@media screen and (min-width: 1216px) {
  .heroImg {
    width: 738px;
    height: 548px;
  }
  .mainPageCalendar {
    position: absolute;
    top: 38.67px;
    right: 0;
  }
}
