.currentMonth {
  padding-left: 8px;
  padding-right: 8px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}

.monthWrap {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 16px;
}

.monthTitle {
  color: #2f2f2f;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.25;
}

.monthName {
  color: #407bff;
  font-size: 16px;
  line-height: 1.25;
}
.calendarItem {
  /* position: relative; */
  text-align: center;
  display: grid;
  border: 1px solid;
  border-color: rgba(255, 157, 67, 1);
  border-radius: 20px;
  width: 34px;
  height: 34px;
  align-items: center;
  margin-bottom: 8px;
}

.additionalInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  top: -250%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 254px;
  padding: 24px 13px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(64, 123, 255, 0.3);
  background-color: #fff;

  z-index: 3;
}

.infoDate {
  color: #407bff;
  font-size: 16px;
  line-height: 1.25;
}
.accent {
  color: #407bff;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
}
.infoClose {
  position: absolute;
  left: 90%;
  width: 16px;
  height: 16px;
  border: none;
  padding: 0;
  background: none;
  vertical-align: middle;
}

/* .cardOverlay {
  position: relative;
  overflow: hidden;
} */
/* .exempl {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;

  background-color: red;
} */
.calendarItem:hover,
.calendarItem:focus {
  display: block;
  opacity: 1;
  background-color: red;
}
@media screen and (max-width: 320px) {
  .currentMonth {
    width: 280px;
    height: 506px;
  }
  .calendar {
    height: 460px;
    outline: 1px solid red;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    gap: '22px';
  }
}
@media screen and (min-width: 321px) {
  .currentMonth {
    width: 280px;
    height: 506px;
  }
  .calendar {
    outline: 1px solid red;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    gap: 22px;
  }
}

@media screen and (min-width: 768px) {
  .currentMonth {
    width: 704px;
    height: 360px;
  }
  .calendar {
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    height: 340px;
  }
}
@media screen and (min-width: 1216px) {
  .currentMonth {
    margin-right: 0;
  }
  .mainPageCalendar {
  }
}
