@media screen and (max-width: 320px) {
  .calendar {
    outline: 1px solid red;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    gap: '22px';
  }
}
.calendarItem {
  /* display: inherit; */
  background-color: blue;
  border-radius: 20px;
  width: 34px;
  height: 34px;
  align-items: center;
  margin-bottom: 8px;
}
.cardOverlay {
  position: relative;
  overflow: hidden;
}
/* .exempl {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;

  background-color: red;
} */
.calendarItem:hover,
.calendarItem:focus {
  display: block;
  opacity: 1;
  background-color: red;
}
@media screen and (max-width: 320px) {
  .calendar {
    outline: 1px solid red;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    gap: '22px';
  }
}
@media screen and (min-width: 321px) {
  .heroImg {
  }
}
@media screen and (min-width: 768px) {
  .heroImg {
  }
}
@media screen and (min-width: 1216px) {
  .heroImg {
  }
  .mainPageCalendar {
    position: absolute;
    top: 38.67px;
    right: 0;
  }
}
