.logo{
width: 102px;
    height: 48;
}

.logo_link {
    display: flex;
    align-items: center;
    gap: 4px;
    

    border: none;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.logo_image {
    width: 40px;
    height: 48px;
}

.logo_text {
    display: block;
        flex-wrap: wrap;
        color: #407BFF;
        text-align: left;
        width: 58px;
        height: 28px;
    
        font-weight: 700;
        font-size: 12px;
        letter-spacing: -0.64px; 
        line-height: calc(16 / 12); 

}